# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Distribution / packaging
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib64/
parts/
sdist/
var/
wheels/
share/python-wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST

## Database
db.sqlite3
db.sqlite3-journal
*.sqlite
*.sqlite3
*.db
*.duck
*.duckdb

## Logs
*.log
*.log.*

# Jupyter Notebook
.ipynb_checkpoints

# Environments
.env
*.env
*.*.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

## Allow Environment patterns
!*example*
!*example*.*
!*.*example*
!*.*example*.*
!*.*.*example*
!*.*.*example*.*

## Pyenv
.python-version

## Dynaconf
**/*.local.toml

!**/*.example.toml
!**/.*.example.toml

## Ignore data directory
.data/*
